<h3> Music Concert Network </h3>

<div>
<ul>
  <h2> Today's Concerts </h2>
  <% @todays_concerts.each do |the_concert| %>
    <li>
    	<a href="/concerts/<%= the_concert.id %>">
      <%= the_concert.artist %>
      </a>

   <!--    <% if the_concert.description != nil %>
        - <%= the_concert.description %> -->
      <% end %>
    </li>


  <% end %>
  <a href="/concerts/new">Add A Concert</a>
</ul>
</div>

 <!-- NEW COLUMN -->

<div>
  <h2>List for Upcoming Concerts</h2>
  <ul>
      <% @concerts_array.each do |the_concert| %>
        <li>
          <a href="/concerts/<%= the_concert.id %>">
          <%= the_concert.artist %>
          </a>
          <% end %>
        </li>

      <% end %>
      <a href="/concerts/new">Add A Concert</
  </ul>
</div>
