<h2> Info of <%= @my_concert.artist %> Concert </h2>

<ul>
	<li> Artist: <%= @my_concert.artist %></li>
	<li> Venue: <%= @my_concert.venue %></li>
	<li> City: <%= @my_concert.city %></li>
	<li> Price: $<%= @my_concert.price %></li>
	<li> Date: <%= @my_concert.date %></li>
	<li> Description: <%= @my_concert.description %></li>

</ul>

<a href="/concerts">Home Page</a>
